doctype html
html(lang="ru")
    include modules/head
    body
        include  modules/black-box
        include modules/header
        section.hero
            p.title
                a(href="draw-canvas.html") canvas draw
            p.title
                a(href="tetris.html") tetris
            p.title
                a(href="click-game.html") click game
        include modules/footer
    //script(src="https://unpkg.com/imask")
    script(src="js/scripts.min.js")