doctype html
html(lang="ru")
include modules/head
body.vue-js
    include  modules/black-box
    include modules/header
    section#app
        input( v-model="message" @keyup.13="onClick" )
        ul
            li( v-for="bear in bears" ) {{ bear.name }}, {{ bear.age }}
        button( @click="onClick" ) Press me
        hr

    include modules/footer
//script(src="https://unpkg.com/imask")
script(src="js/scripts.min.js")